@import './../../../Common/Styles/SASS/variables';
@import './../../../Common/Styles/SASS/mixins';

.skill {
  @include flex(center, center, wrap);
  flex-direction: column;
  margin-bottom: 40px;
  border-radius: 20%;

  .icon {
    padding: 20px;

    .img {
      width: 80px;
      padding: 20px;
      box-shadow: $greenBgColor 0px 20px 30px -10px;
      border-radius: 30%;

      &:hover {
        background: $greenPoorBgColor;
      }
    }

  }
}

