.upIcon{
    color: #006B6C;
    transition: all 1s ease;
    
    &:hover{
        transform: scale(1.1, 1.1);
    }

    @media (max-width: 767px){
        position: absolute;
        bottom: 0px;
        right: -15px;
    }
}