@import './../../Common/Styles/SASS/mixins';

.myWorks {
  background-color: #DAFFF6;
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  
  .links {
    @include flex(center, center, wrap);
    flex-direction: row;
    width: 100%;
  }  

}

