.btnContainer{
    height: 35px;
    width: 35px;
    align-items: center;
    background-color: #1976D2;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
   
    &:hover{
        background-color: #0352a1;
    }

    .link{
        text-decoration: none;
        color: white;       
    }
}