@import './../../../Common/Styles/SASS/variables';
@import './../../../Common/Styles/SASS/mixins';

.container {
  background: $greenBgColor;
  padding: 10px 5px;
  width: 100%;
  display: block;
  
  @media (min-width: 667px) {
    display: none;
  }

  .menubar{
    display: flex;
    justify-content: space-between;
  }

  .menuIcon{
    .icon{
      width: 30px;
      height: 30px;
      color: white;
      text-align: right;
      padding: 5px;
    }
  }

  .logo{
    width: 65px;
    height: 42px;
  }

  .hideMenu {
    display: none;
  }

  .menu {
    cursor: pointer;
    flex-direction: row;
    @include flex(center, flex-end, nowrap);

    .linkContainer {
      padding: 0;
      @include font(1rem, left);
      display: flex;
      flex-direction: row;


      @media (max-width: 667px) {
        padding: 5px 10px;
      }
      
      .link{
        text-decoration: none;
        color: white;
        transition: all 1s ease;
        text-transform: uppercase;
        padding: 10px; 
      
        &:hover{
          transform: scale(1.1, 1.1);
        }
      }

      .active{
        text-decoration: none;
        color: white;
        transition: color 1s ease;
        text-transform: uppercase;
        padding: 5px; 
        border-bottom: 2px solid #fff;

        &:hover{
          transform: scale(1.1, 1.1);
        }
      }
    }
  }
}

