@import './../../../Common/Styles/SASS/variables';
@import './../../../Common/Styles/SASS/mixins';

.container {
  background: $greenBgColor;
  padding: 10px 5px;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  @media (min-width: 667px) {
    display: none;
  }

  .logo{
    width: 75px;
    height: 42px;
  }

  .closeButton {
    display: none;
  }

  .menu {
    background: $greenBgColor;
    width: 100%;
    cursor: pointer;

    .buttonToClose{
      text-align: right;
    }

    .iconClose {
      width: 30px;
      height: 30px;
      color: white;
      text-align: right;
      padding: 5px;
    }

    .linkContainer {
      @include font(1.5rem, left);
      padding: 20px; 
      
      @media (max-width: 667px) {
        padding: 5px 10px;
      }
      
      .link{
        text-decoration: none;
        color: white;
        transition: color 1s ease;
      
        &:hover{
          color: red;
        }
      }

      .active{
        color:red;
        text-decoration: none; 
      }
    }
  }

  .openButton {
    border: none;
    color: #fff;

    &:hover {
      cursor: pointer;
    }

    .icon {
      width: 40px;
      height: 40px;
    }
  }
}

