.gallery{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin: 0; 

    .header{
        padding-top: 10px;

        .top{
            display: flex;
            justify-content: space-between;
            flex-flow: row wrap;
            align-items: center;

            @media (min-width: 768px){
                justify-content: center; 
                gap: 10px;
            }
        }

        .bottom{
            display: flex;
            justify-content: center;
        }
    }

    .main{
        overflow-y: scroll;
    }
}