.wrapper{
    padding: 30px 40px;
    
    .link{
        padding: 10px;
        background:  #EF7914;
        border-radius: 10px;
        text-decoration: none;
        transition: all 1s ease;
        color: #fff;

        &:hover{
            background:  #8a4102;     
        }
    }

    .movieName{
        width: 100%;
        padding: 15px 0;
        margin-top: 10px;
        font-size: 30px;
    }

    .container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 20px;

        .photo{
            width: 270px;
            height: 350px;
        }

        .info{
            flex: 1;

            p{
                border-bottom: 1px dotted #EF7914;
                padding: 10px 0;

                span{
                    font-weight: bold;
                }
            }

            .rateInfo{
                display: flex;
                flex-flow: row wrap;
                gap: 10px;
                justify-content: flex-start;

                p{
                    display: flex;
                    gap: 5px;
                    align-items: center;
                    border-bottom: none;
                }
            }
        }
    }

    @media(max-width: 390px){
        .movieName{
            font-size: 20px;
        }
        .container{
            .photo{
            width: 100%;
            }
            .info{
                width: 100%;
            }
        }
    }
}