.wrapper{
    max-width: 100%;
    min-height: 100vh;
    font-family: Arial, Tahoma;
    background: #010E21;

    .container{
        width: 70%;
        min-height: 100vh;
        margin: 0 auto;
        background: white;

        @media(max-width: 912px){
            width: 100%;
        }
    }
}       