@import '../../../Common/Styles/SASS/variables';
@import '../../../Common/Styles/SASS/mixins';

.nav {
  height: 70px;
  @include flex(center, space-between, wrap);
  background-color: $greenBgColor;
  width: 100%;
  text-decoration: none;
  padding: 0 40px;
  @include font(1rem, center);

  @media (max-width: 666px){
    display: none;
  }

  .logo{
    width: 75px;
    height: 52px;
  }

  div{
    @include flex(center, flex-end, wrap);
  }

  .linkContainer {
    padding: 0 10px;
    cursor: pointer;

    .link{
      text-decoration: none;
      color: white;
      transition: color 1s ease;
      text-transform: uppercase;
      padding: 10px; 
    
      &:hover{
        transform: scale(1.1, 1.1);
      }
    }

    .active{
      text-decoration: none;
      color: white;
      transition: color 1s ease;
      text-transform: uppercase;
      padding: 10px; 
      border-bottom: 2px solid #fff;

      &:hover{
        transform: scale(1.1, 1.1);
      }
    }
  }
}

