.searchContainer{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    background: #EB7615;
    color: #fff;

    p{
        font-size: 25px;
        font-weight: 400;
    }
    div{
        display: flex;
        align-items: center;
        gap: 20px;

        input{
            padding: 10px;
            font-size: 16px;
            width: 350px;
            
            @media(max-width: 600px){
                width: 180px;  
            }   
            &:focus{
                border-color: #010E21;
                outline: none;
            }
        }
    }
    .link{
        color: #fff;
        transition: all 2s ease;

        &:hover {
            color: #010E21;  
        }
    }

    @media(max-width: 390px){
       padding: 0 15px;
       
       div{
        gap: 10px;
       }
    }

    @media(max-width: 493px){
        p{
            font-size: 17px;
        } 
        
    }
}