.searchContainer{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    background: #EB7615;
    color: #fff;

    input{
        padding: 10px;
        font-size: 16px;
        
        &:focus{
            border-color: #EF7914;
            outline: none;
        }

        &:hover{
            border-color: #EF7914;
        }
    }
}