.searchBox{
    align-items: center;
    border: 1px solid gray;
    display: flex;
    padding: 0 15px;
    margin: 15px 0;
    max-width: 85%;
    
    :first-child {
        &:hover{
            transform: rotate(90deg);
        }
    }

    input{
        width: 100%;
        height: 40px;
        border: none;
        outline: 0;
        text-align: center;

        &[type=text]{
            font-size: 20px;
            color: gray;
        }

        &:focus{
            color: #1976D2;
        }
    }
}