@import './../../../Common/Styles/SASS/variables';
@import './../../../Common/Styles/SASS/mixins';

.preview {
  background: #DAFFF6;
  width: 300px;
  margin: 20px 10px;
  height: 460px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

  @media (max-width: 799px){
    height: 450px;
  }
  
  img{
    width: 100%;
    height: 250px;
  }

  .description{
    background: $greenBgColor;
    width: 100%;
    height: 0px;
  }

  .title {
    margin-bottom: 20px;
    color: $greenTextColor;
    position: relative;
   

    @include font(1.9rem, center);
    
    @media (max-width: 799px) {
      font-size: 1.5rem;
      letter-spacing: 1.5px;
    }
  }

  .stack{
    gap: 5px;
    height: 80px;
    @include flex(center, center, wrap);
  }

  .text {
    background: $greenTextColor;
    border-radius: 10px;
    color: white;
    margin: 0;
    padding: 5px 7px;
    @include font(1rem, center);
  } 

  .linkContainer {
    @include flex(center, center, wrap);
    margin-top: 10px;
  }

  .link {
    padding: 5px 15px;
    width: 100%;
    border-radius: 5px;
    background: $greenBgColor;
    color: #fff;
    transition: all 1s ease;

    @include font(1.2rem, center);
    text-decoration: none;

    &:hover {
      background: #013031;
    }
  }
}

