@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

$linkBgColor:  #006B6C;
$greenTextColor: #006B6C;
$menuIconColor:  #006B6C;
$whiteBgColor: white;
$greenPoorBgColor: #DAFFF6;
$greenBgColor: #006B6C;
$BgColor: #DAFFF6;
$blackFontColor: #121111;
$shadowColor: darkgray;
$hoveredGreenText: #012e30;

$font: 'Prompt', sans-serif;
