@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

$linkBgColor:  #006B6C;
$navbarTextColor: #006B6C;
$menuIconColor:  #006B6C;
$bgColor: white;
$navBgColor: #DAFFF6;
$blackBgColor: #121111;
$blackFontColor: #121111;
$linksColor:  #940909;
$shadowColor: darkgray;
$font: 'Prompt', sans-serif;
