@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

$titleColor: #d60606;
$navbarTextColor: #d60606;
$bgColor: white;
$navBgColor: #121111;
$blackBgColor: #121111;
$blackFontColor: #121111;
$linksColor:  #d60606;
$shadowColor: darkgray;
$font: 'Prompt', sans-serif;
